In [16]:
# read C:\Users\super\Documents\Github\pixel-nerf\rs_dtu_4\DTU\scan4\cameras.npz


import numpy as np
import os

import matplotlib.pyplot as plt


def load_camera_data(file_path):
    data = np.load(file_path, allow_pickle=True)
    return data

data = load_camera_data('C:\\Users\\super\\Documents\\Github\\pixel-nerf\\rs_dtu_4\\DTU\\scan4\\cameras.npz')


# to pandas
import pandas as pd

df = pd.DataFrame(data)

print(df.head())
print(df.columns)

                 0
0      scale_mat_0
1  scale_mat_inv_0
2      scale_mat_1
3  scale_mat_inv_1
4      scale_mat_2
RangeIndex(start=0, stop=1, step=1)

In [17]:
display(df)

                     0
0          scale_mat_0
1      scale_mat_inv_0
2          scale_mat_1
3      scale_mat_inv_1
4          scale_mat_2
..                 ...
289  camera_mat_inv_47
290       world_mat_48
291   world_mat_inv_48
292      camera_mat_48
293  camera_mat_inv_48

[294 rows x 1 columns]